@page
@model Asp_Assignments.Pages.Rich.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RichHuman</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RichHuman.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RichHuman.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RichHuman.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RichHuman.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RichHuman.TheirExpertise)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RichHuman.TheirExpertise)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RichHuman.NetWorth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RichHuman.NetWorth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RichHuman.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RichHuman.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RichHuman.Nationality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RichHuman.Nationality)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RichHuman.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RichHuman.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RichHuman.Rank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RichHuman.Rank)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.RichHuman?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
