@page
@model Asp_Assignments.Pages.Rich.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>


<form>
            
    <p>
        Search: <input type="text" asp-for="SearchString" placeholder="Name" />
           <input type="text" asp-for="RichHumanTheirExpertise" placeholder="Expertise"  />
            <input type="text" asp-for="RichHumanGender" placeholder="Gender"  />


        <input type="submit" value="Filter" />
    </p>
</form>






<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RichHuman[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RichHuman[0].BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RichHuman[0].TheirExpertise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RichHuman[0].NetWorth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RichHuman[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RichHuman[0].Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RichHuman[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RichHuman[0].Rank)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RichHuman) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheirExpertise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetWorth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
